.app {

	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: orange;
}

.edit-side {
	flex: 1;
	background-color: seagreen;

	margin: 20px
}

.display-side {
	display: flex;
	justify-content: center;
	align-items: start;

	flex: 1;
	background-color: royalblue;

	margin: 20px
}



.resume {


	margin: 20px;

	min-height: 800px;

	width: 90%;
	max-width: 800px;

	background-color: whitesmoke;
}

.resume--header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: darkslateblue;
	color: whitesmoke;
	padding: 2rem;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: 600;

	padding: 0;
	margin: 0;

}

.info>* {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.resume--sub--header {
	color: black;
	font-weight: 600;
}

.sub--section {
	display: flex;
	justify-content: center;
}
